.ucCollapseBody {
    max-height: 350px;   
    overflow: hidden;    
}
.ucCollapseBody > div:nth-child(1){
    position: relative;
}
.ucContentSummary {
    width: 100%;
    height: 340px;  /* ucPostContent padding 10px */
    background: white;
    top: 0;
    left: 0;
    position: absolute;
    cursor: pointer;
}
.ucSummaryFitImg {
  margin: 1px;
  padding: 0;
  background-size: cover;               
  background-repeat: no-repeat;
  background-position: center center; 
  display: inline-block; 
  border: 1px solid #e6e6e6;
}
.ucSummaryVideoIcon {
    background-image: url('/images/play_overlay_icon.png');
    background-repeat: no-repeat;
    background-position: center;  
    background-size: 40%;         
    width: 100%;
    height: 100%;    
}
.ucSummaryMoreImage {
    width: 100%;
    height: 100%;    
    background: black;
    opacity: 0.4;
    text-align: center;
    display: table;
}
.ucSummaryMoreImage > span {
    color: white;
    font-size: 2rem;
    display:table-cell;
    vertical-align:middle;
}
.ucLeftMenu {
    padding: 0 25px 0 0;
}
.ucRightMenu {
    padding: 0 0 0 25px;
}
.ucMobileWidth {
    min-width: 100%;
}
.ucArticleBody {
    margin-top: 10px;
}
.ucNoPadding {
    padding: 0;
}
.ucBoxUserName {
    font-size: 0.85em;
}
.ucBoxBodyLikeReply {
    font-size: 0.85em;
}
.ucTooBox  i{
    font-size: 16px;
}
.ucModalEditorSize {
    min-width: 450px;
}
.ucModalEditorSizeMobile {
    min-width: 100%;
    margin: 0;
}
.ucMemberList > li {
    padding: 10px 5px 10px 5px;
}
.ucPostContent {
    padding: 10px;
    word-wrap:break-word;
    overflow:hidden;   
}
.ucPostContent p span{
    font-size: 0.8em;
}
.ucLodgingFormSize {
    height: 300px;
    overflow: hidden;
}
.ucLodgingFormSize > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.ucTeamProfileImg {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.ucTeamImgInputBox {
    margin: 5px 0 50px 0;
}
.ucInputHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}
.ucUploadFilename {
    position: relative;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
}
.ucUploadBox {
    margin-top: 0;
    padding: 0 25px 0 25px;
}
.ucUploadBtn {
    display: inline-block;
    margin-right: 20px;
}
.ucUploadBtn > label {
    font-size: 2.5rem;    
}
.ucTeamFileIcon {
    width: 24px;
    height: 24px;
}
.ucLineEllipse {
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    padding: 5px;
}
/*VoteEditor*/
.voteModal {
    width: 360px;
    height: 600px;  
    margin: 0 auto;
    vertical-align: middle;;
}
.voteEditor {
    width: 100%;
    height: 100%;
    border: 1px solid #666666;
    box-shadow: 1px 1px 10px #666666;
    position: relative;
    overflow: hidden;

    font-size: 1.4rem;
}
.voteTitle {
    height: 50px;
    border-bottom: 1px solid #dddddd;
    position: relative;
}
.voteTitle > p {
    margin: 0;
    padding:0;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    line-height: 50px;
    width: 100%;
}
.voteTitle > div {
    width: 50px;
    height:50px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 50px;
    font-size: 2rem;
    color: grey;
    cursor: pointer;
}
.voteHeader {
  height: 60px;
  text-align: center;
  display: flex;
}
.voteHeader > input {
  margin: 5px 20px 5px 20px;
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #eeeeee;
  background-color: transparent;
}
input:focus {
  outline: none;
}
::-webkit-input-placeholder { /* Chrome */
  color: #cccccc;
  font-weight: bold;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #cccccc;
  font-weight: bold;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #cccccc;
  opacity: 1;
  font-weight: bold;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #cccccc;
  opacity: 1;
  font-weight: bold;
}

.voteBody {
  width: 100%;
  height: 428px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.voteItemox {
    border-bottom: 1px solid #dddddd;
}
.voteFooter {
  width: 100%;
  height: 60px;
  border-top: 1px solid #dddddd;
  position: absolute;
  bottom: 0;
  text-align: center;
  line-height: 58px;
}
.voteItem {
  width: 100%;
  height: 50px;
  margin: 0;
  position: relative;
}
.voteItem  > div {
  float: left;
}
.voteItem > div:nth-child(1) {
  width: 20%;
  min-width: 30px;
  height: 100%;
  text-align: center;
  line-height: 50px;
}
.voteItem > div:nth-child(2) {
  width: 80%;
  height: 100%;
}
.voteCircleSpan {
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 26px;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: grey;
  text-align: center;
  border: 2px solid grey;
}
.voteItem  input {
  left: 60px;
  margin: 10px 10px 10px 10px;
  width: 90%;
  height: 30px;
  border: none;
  border-bottom: 1px solid #eeeeee;
}
.voteItemAdd {
  margin-left: 10px;
  line-height: 50px;
  color: black;
}
.voteOption {
    padding-top: 10px;
    border-top: 1px solid #eeeeee;
    width: 100%;
    height: 100%;
    min-height: 230px;
    background: #fdfdfd;
}
.voteOption label {
    line-height: 50px;
    font-size: 2.5rem;
}
.voteFinishDateForm {
    margin: 0 auto;
    height: 30px;
    width: 85%;
}
/*투표하기*/
.voteSummary {
    width: 100%;
    min-width:300px; 
    height:62px;
    border: 1px solid #e1e8ed;
}
.ucVoteTackItem {
    width: 100%;
    min-width:300px;
    height:70px;

    border-left: 1px solid #e1e8ed;
    border-right: 1px solid #e1e8ed;
    border-bottom: 1px solid #e1e8ed;
}
.ucVoteTackItemSelect {
    float: left; 
    width: 60px;
    height: 70px;
    /* background: red; */
    position: relative;
}

.ucVoteTackItemSelect > input {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -.5em;
    margin-top: -.5em;
}


.ucVoteTackItemProgress {
    width:100%;
    height: 70px;
    padding: 10px;
    /* background: grey; */
}

.ucVoteTackFooter {
    line-height: 60px;
    text-align: center;
    width:100%;
    height: 60px;   
    border-left: 1px solid #e1e8ed;
    border-right: 1px solid #e1e8ed;
    border-bottom: 1px solid #e1e8ed;
}
.ucVoteTackFooter > button:nth-child(1) {
    margin-right: 10px;
}
.ucVoteTackFooter > button:nth-child(2) {
    margin-left: 10px;
}