/*
Copyright (c) 2003-2017, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.md or http://ckeditor.com/license
*/

body
{
	/* Font */
	font-family: "Nanum Gothic", sans-serif, Arial, Verdana, "Trebuchet MS";
	font-size: 12px;

	/* Text color */
	color: #333;

	/* Remove the background color to make it transparent */
	background-color: #fff;

	margin: 20px;
}

.cke_editable
{
	font-size: 13px;
	line-height: 1.6em;

	/* Fix for missing scrollbars with RTL texts. (#10488) */
	word-wrap: break-word;
}

blockquote
{
	font-style: italic;
	font-family: Georgia, Times, "Times New Roman", serif;
	padding: 2px 0;
	border-style: solid;
	border-color: #ccc;
	border-width: 0;
}

.cke_contents_ltr blockquote
{
	padding-left: 20px;
	padding-right: 8px;
	border-left-width: 5px;
}

.cke_contents_rtl blockquote
{
	padding-left: 8px;
	padding-right: 20px;
	border-right-width: 5px;
}

a
{
	color: #0782C1;
}

ol,ul,dl
{
	/* IE7: reset rtl list margin. (#7334) */
	*margin-right: 0px;
	/* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
	padding: 0 40px;
}

h1,h2,h3,h4,h5,h6
{
	font-weight: normal;
	line-height: 1.2;
}

hr
{
	border: 0px;
	border-top: 1px solid #ccc;
}

img.right
{
	border: 1px solid #ccc;
	float: right;
	margin-left: 15px;
	padding: 5px;
}

img.left
{
	border: 1px solid #ccc;
	float: left;
	margin-right: 15px;
	padding: 5px;
}

pre
{
	white-space: pre-wrap; /* CSS 2.1 */
	word-wrap: break-word; /* IE7 */
	-moz-tab-size: 4;
	tab-size: 4;
}

.marker
{
	background-color: Yellow;
}

span[lang]
{
	font-style: italic;
}

figure
{
	text-align: center;
	border: solid 1px #ccc;
	border-radius: 2px;
	background: rgba(0,0,0,0.05);
	padding: 10px;
	margin: 10px 20px;
	display: inline-block;
}

figure > figcaption
{
	text-align: center;
	display: block; /* For IE8 */
}

a > img {
	padding: 1px;
	margin: 1px;
	border: none;
	outline: 1px solid #0782C1;
}

/* Widget Styles */
.code-featured
{
	border: 5px solid red;
}

.math-featured
{
	padding: 20px;
	box-shadow: 0 0 2px rgba(200, 0, 0, 1);
	background-color: rgba(255, 0, 0, 0.05);
	margin: 10px;
}

.image-clean
{
	border: 0;
	background: none;
	padding: 0;
}

.image-clean > figcaption
{
	font-size: .9em;
	text-align: right;
}

.image-grayscale
{
	background-color: white;
	color: #666;
}

.image-grayscale img, img.image-grayscale
{
	filter: grayscale(100%);
}

.embed-240p
{
	max-width: 426px;
	max-height: 240px;
	margin:0 auto;
}

.embed-360p
{
	max-width: 640px;
	max-height: 360px;
	margin:0 auto;
}

.embed-480p
{
	max-width: 854px;
	max-height: 480px;
	margin:0 auto;
}

.embed-720p
{
	max-width: 1280px;
	max-height: 720px;
	margin:0 auto;
}

.embed-1080p
{
	max-width: 1920px;
	max-height: 1080px;
	margin:0 auto;
}


/**
cyh custom
*/
.ucEditorPreviewBox {
	position: relative;
}
.ucEditorPreviewBox > img {
	width: 100%;
  	height: auto;
}

.ucEditorPreviewBox > video {
	width: 100%;
  	height: auto;
}

.ucEditorPreviewDel {
	visibility: hidden;
	position: absolute;
	top: 2px;
	right: 2px; 
	width: 60px;
	height: 30px;
	background: #3399ff;
	color: #fff;
	text-align: center;
	line-height:30px;
	cursor: pointer;
}
.ucEditorPreviewBox:hover {
  outline: 2px solid #3399ff;
}
.ucEditorPreviewBox:hover > .ucEditorPreviewDel {
  visibility: visible;
}
video {
	background: black;
}
.ucEditorFileBox {
    width: 100%;
    min-width:300px;
    height:60px;
    outline: 1px solid #e1e8ed;
    overflow: hidden;
}
.ucEditorFileBox > div:nth-child(1) {
	float: left;
	width:60px;
	height: 60px;
	border-right: 1px solid #e1e8ed;
	background: #e1e8ed;
	background-image: url('/images/file.png');
	background-position: center;
	background-repeat: no-repeat;
}
.ucEditorFileBox > div:nth-child(2) {
    width:auto;
    height: 56px;
	padding: 2px;
	white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis; 
	margin-right: 20px;
}
.ucEditorFileBox > div:nth-child(2) > span {
  	height: 25px;
  	line-height: 25px;
	font-weight: bold;
	color: grey;
	margin-left: 20px;
}
.ucEditorFileBox > div:nth-child(2) > span:nth-child(1) {
    color: #428bca;
}
.ucOpenGraphBox {  
	width: 300px;
	height: 250px;
	border: 1px solid #cccccc;
}
.ucOpenGraphBox-cover {
  	height: 175px;
  	background: #c1c8cd;
	overflow: hidden;  
	border-bottom: 1px solid #c1c8cd;
}
.ucOpenGraphBox-info > p:nth-child(1) {
    height: 40px;
	line-height: 22px;
	margin: 0;
	padding: 5px 10px 0px 10px;
	font-weight: bold;
	overflow: hidden; 
	text-overflow: ellipsis; 
	display: -webkit-box;
	-webkit-line-clamp: 2; /* 라인수 */	
	-webkit-box-orient: vertical; 
	word-wrap:break-word;
}

.ucOpenGraphBox-info > p:nth-child(2) {
	height: 30px;
	margin: 0;
	color: grey;
	padding: 5px 10px 0px 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; 
	word-wrap:break-word;
}

.ucYoutubeIframe {
  	width: 100%;
  	height: 435px;
  	border: 1px solid #c1c8cd;
}
.ucYoutubeIframe > div:nth-child(1){
	border-bottom: 1px solid #c1c8cd;
  	height: 360px;
}
.ucYoutubeInfo {
	min-height: 75px;
}
.ucYoutubeInfo > p:nth-child(1) {
  	height: 40px;
 	line-height: 22px;
	margin: 0;
	padding: 5px 10px 0px 10px;
	font-weight: bold;
	overflow: hidden; 
	text-overflow: ellipsis; 
	display: -webkit-box;
	-webkit-line-clamp: 2; /* 라인수 */	
	-webkit-box-orient: vertical; 
	word-wrap:break-word;
}
.ucYoutubeInfo > p:nth-child(2) {
	height: 30px;
	margin: 0;
	color: grey;
	padding: 5px 10px 0px 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; 
	word-wrap:break-word;
}
/*투표 요약*/
#votePreview {
	width: 100%;
	min-width:300px;
	position: relative;
}
#votePreview:hover {
    outline: 2px solid #3399ff;
}
#votePreview:hover > .votePreviewOption {
    visibility: visible;
}
#voteSummary {
    width: 100%;
    min-width:300px;
    height:60px;
    border: 1px solid #e1e8ed;
}
.votePreviewIcon {
    float: left;
    width:60px;
    height: 60px;
    border-right: 1px solid #e1e8ed;
    background-image: url("/images/vote.png");
    background-position: center center;
    background-repeat: no-repeat;
	background-size: 40px;
	background-color: #e1e8ed;
}
.votePreviewDesc {
    width:auto;
    height: 56px;
    padding: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
	margin-right: 20px;
}
.votePreviewDesc span {
    color: grey;
    font-size: 0.8rem;
    font-weight: bold;   
}

.votePreviewDesc > span {
    margin-left: 20px;
    height: 26px;
    line-height: 28px;
    font-weight: bold;
    color: grey;
}
.votePreviewDesc > span:nth-child(1) {
	color: #428bca;
	font-size: 0.9rem;
}
.votePreviewOption {
    visibility: hidden;
	position: absolute;
    top: 2px;
    right: 2px;
}
.votePreviewOpt {
	position: relative; 
	float: right;
	margin-left: 2px;
	width: 60px;
	height: 30px;
	background: #3399ff;
	color: #fff;
	text-align: center;
	line-height:30px;
	cursor: pointer;
}


