.ucUserProfileImg {
    width: 128px;
    height: 128px;
}
.ucChangImgBox {
    text-align: center;
}
.ucChangImgBox > label  {
    bottom: 40px;
    right: -40px;
    position: relative;
    width: 48px;
    height: 48px;
}
.ucChangImg {
    width: 48px;
    height: 48px;
}

.ucInputHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}
.ucUploadFilename {
    position: relative;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
}