@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body {font-family: "Nanum Gothic"}
p, span {font-size: 0.9em;}

body.modal-open {
    overflow: hidden;
}

/*
    팀리스트 오른쪽 메뉴
*/
.content-header > .breadcrumb > li + li:before { 
  content: '|\00a0'; 
} 


.clickable {
    cursor: pointer;
}

/**
cyh3813
CK에디터, 포스트 공통 스타일터
정리할것. (pkgs/plugins/ckedit/content.css 에도 같은 내용있음)
*/
.ucEditorPreviewBox {
	position: relative;
}
.ucEditorPreviewBox > img {
	width: auto;
  	height: auto;
    max-width:100%;
    border: 1px solid #e6e6e6;
}
.ucEditorPreviewBox > video {
	width: 100%;
    height: auto;
    border: 1px solid #e6e6e6;
}
.ucEditorPreviewDel {
    visibility: hidden;
}
video {
    background: black;
}
.ucEditorFileBox {
    width: 100%;
    min-width:300px;
    height:60px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    /* outline: 1px solid #e1e8ed; */
    cursor:pointer;
    background: white;
}
.ucEditorFileBox:hover {
    outline: 1px solid #e6e6e6;
}
.ucEditorFileBox > div:nth-child(1) {
    float: left;
    width:60px;
    height: 60px;
    border-right: 1px solid #e6e6e6;
    background: #e1e8ed;
    background-image: url('/images/file.png');
    background-position: center;
    background-repeat: no-repeat;
}

.ucEditorFileBox > div:nth-child(2) {
    width:auto;
    height: 56px;
    padding: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    margin-right: 20px;
}
.ucEditorFileBox > div:nth-child(2) > span {
    margin-left: 20px;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    color: grey;
}
.ucEditorFileBox > div:nth-child(2) > span:nth-child(1) {
    color: #428bca;
}
.ucOpenGraphBox {  
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
	width: 300px;
	height: 250px;
    /* border: 1px solid #e6e6e6; */
    overflow: hidden;  
    cursor:pointer;
}
.ucOpenGraphBox-cover {
  	height: 175px;
  	background: #c1c8cd;
    overflow: hidden;  
    border-bottom: 1px solid #e6e6e6;
}
.ucOpenGraphBox-info > p:nth-child(1) {
    height: 45px;
    line-height: 20px;
	margin: 0;
	padding: 5px 10px 0px 10px;
	font-weight: bold;
	overflow: hidden; 
	text-overflow: ellipsis; 
	display: -webkit-box;
	-webkit-line-clamp: 2; /* 라인수 */	
	-webkit-box-orient: vertical; 
	word-wrap:break-word;
}

.ucOpenGraphBox-info > p:nth-child(2) {
    height: 30px;
    line-height: 20px;
	margin: 0;
	color: grey;
	padding: 5px 10px 0px 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; 
	word-wrap:break-word;
}
.ucYoutubeIframe {
    width: 100%;
    height: 435px;
    /* border: 1px solid #c1c8cd; */
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
}
.ucYoutubeIframe > div:nth-child(1){
    border-bottom: 1px solid #e6e6e6;
    height: 360px;
}
.ucYoutubeInfo {
    min-height: 75px;
    cursor: pointer;
}
.ucYoutubeInfo > p:nth-child(1) {
    height: 45px;
    line-height: 20px;
	margin: 0;
	padding: 5px 10px 0px 10px;
	font-weight: bold;
	overflow: hidden; 
	text-overflow: ellipsis; 
	display: -webkit-box;
	-webkit-line-clamp: 2; /* 라인수 */	
	-webkit-box-orient: vertical; 
	word-wrap:break-word;
}
.ucYoutubeInfo > p:nth-child(2) {
    height: 30px;
    line-height: 20px;
	margin: 0;
	color: grey;
	padding: 5px 10px 0px 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; 
	word-wrap:break-word;
}

/*투표 요약*/
#voteSummary {
    width: 100%;
    min-width:300px;
    height:60px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    cursor:pointer;
    background: white;
}
.votePreviewIcon {
    float: left;
    width:60px;
    height: 60px;
    border-right: 1px solid #e1e8ed;
    background-image: url("/images/vote.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40px;
    background-color: #e1e8ed;
}
.votePreviewDesc {
    width:auto;
    height: 56px;
    padding: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    margin-right: 20px;
}
.votePreviewDesc span {
    color: grey;
    font-size: 1.2rem;
    font-weight: bold;   
}

.votePreviewDesc > span {
    margin-left: 20px;
    height: 28px;
    line-height: 28px;
    font-weight: bold;
    color: grey;
}
.votePreviewDesc > span:nth-child(1) {
    color: #428bca;
}