.ucTeamFooter {
    padding: 0 10px 0 10px;
}
.ucTeamFooter h5 {
    position: relative;
    bottom: 15px;
}
.ucTeamTitle {
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;   
    
    margin-top: 0;
    padding: 3px 10px 3px 10px;
}
.ucTeamDescription {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word; 
    /*line-height: 1.2em;*/
    /*height: 3.5em; */
    padding: 3px 10px 3px 10px;
    margin-bottom: 10px;
}
.ucTeamDiv {
    margin: 20px 0 0 0;
}
.ucPageTitleSection {
    margin-bottom: 10px;
}
.ucTeamCreateBox {
    height: 195px;
    line-height: 195px;
    font-size: 1.5em;
    font-weight: bold;
    color: lightgray;
    text-align: center;
    border: 4px dashed lightgray;
}
.ucTeamProfileImg {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.ucTeamListTitle {
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;       
}
.ucTeamListDescription {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word; 
    line-height: 1.2em;
    height: 2.4em; 
}
.ucInputHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}
.ucCreateTeamImgSize {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.ucUploadFilename {
    position: relative;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
}