.ucTeamProfileDiv {
    height: 150px;
}
.ucTeamProfileDiv > h3 {
    text-shadow: 1px 1px #000;
}

.ucTeamName {
    position: relative;
    top: 70px;
    text-align: center;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
}
